<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /face_attendance/
    
    # Allow access to actual files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule> 